<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <!-- script name -->
    <string>shell_test.sh</string>
    <key>ProgramArguments</key>
    <array>
        <!-- path to python (from my .bash_profile)-->
        <string>"/Library/Frameworks/Python.framework/Versions/3.5/bin</string>
        <!-- path to script -->
        <string>/Tests/shell_test.sh</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/var/log/python_script.error</string>
    <key>StandardOutPath</key>
    <string>/Users/Hank/Desktop/output.txt</string>
    <key>KeepAlive</key>
    <true/>
    <key>StartInterval</key>
    <integer>15</integer>

</dict>
</plist>
